<div class="container-page">
    <div class="container-image"><img src="assets/icons/error_outline-24px.svg" /></div>
    <div class="container-text">
        <div class="title-1">401</div>
        <div class="title-2">Acesso Negado </div>
        <div class="title-3">Parece que você não tem permissão para acessar a página solicitada. 
            Para mais informações, entre em contato com o administrador.</div>
        <div class="btn-container"><button  class="button" (click)="onClick()">Ir para Home</button></div>
    </div>
</div>