<div class="logo-container">
  <mat-icon class="logo">menu_book</mat-icon>
</div>
<div class="menuItem innerMenuButtonContainer">
  <button
    type="button"
    aria-label="Close Menu"
    mat-icon-button
    (click)="toggleSidebar()"
    color="gray"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</div>

<mat-nav-list class="side-nav">
  <div *ngFor="let menuItem of multipleRoutes; let i = index">
    <a class="menuItem" mat-list-item (click)="itemClicked(i)">
      <span class="no-wrap">{{ menuItem.name }} </span>
      <span class="maxSpace"></span>
      <mat-icon [@indicatorRotate]="expanded[i] ? 'expanded' : 'collapsed'">
        expand_more
      </mat-icon>
    </a>
    <div *ngIf="expanded[i]">
      <a
        [ngClass]="{ buttonSelected: subItem.isSelected }"
        class="menuItem menuSubItem no-wrap"
        mat-list-item
        *ngFor="let subItem of menuItem.routes"
        [routerLink]="subItem.path.includes('heatmap') ? [] : [subItem.path]"
        (click)="close(subItem.path)"
      >
        <mat-icon
          [ngClass]="{ buttonSelected: subItem.isSelected }"
          *ngIf="subItem.isSvg"
          svgIcon="{{ subItem.icon }}"
          class="icon-style positionSgv"
        ></mat-icon>
        <mat-icon
          [ngClass]="{ buttonSelected: subItem.isSelected }"
          *ngIf="!subItem.isSvg"
          class="icon-style position"
          >{{ subItem.icon }}</mat-icon
        >
        {{ subItem.name }}
      </a>
    </div>
  </div>
</mat-nav-list>
