<div *ngIf="!gettingData && !nothingHappened" class="card hoverable table-container">
  <table mat-table [dataSource]="dataSource" class="full-width round-corners">
    <ng-container class="tableColumn" matColumnDef="coordination">
      <th mat-header-cell *matHeaderCellDef>Coordenação</th>
      <td mat-cell id="coordination" *matCellDef="let element">
        {{ element.coordination.name }}
      </td>
    </ng-container>

    <ng-container class="tableColumn" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell id="name" *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container class="tableColumn" matColumnDef="modifiedDate">
      <th mat-header-cell *matHeaderCellDef>Data de Modificação</th>
      <td mat-cell id="description" *matCellDef="let element">
        {{ element.modifiedDate }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container class="tableColumn" matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell id="edit" *matCellDef="let element">
        <a (click)="openEditComponentDialog(element)" href="javascript:void(0);">
          <img src="assets/icons/edit.svg" />
        </a>
      </td>
    </ng-container>

    <ng-container class="tableColumn" matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef>Remover</th>
      <td mat-cell id="remove" *matCellDef="let element">
        <button mat-icon-button>
          <a (click)="confirmDeletion(element)" href="javascript:void(0);">
            <img src="assets/icons/delete.svg" />
          </a>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="resultsCount"
    [pageIndex]="pageIndex"
    [pageSize]="limit"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
    (page)="onPageChange($event)"
    class="mat-paginator-sticky"
  ></mat-paginator>
</div>

<div *ngIf="gettingData" class="spinner">
  <mat-spinner></mat-spinner>
</div>
