<div class="card searchbar-height hoverable">
  <div class="search-bar-card flex-parent card-content searchbar-height" (keydown.enter)="search()">
    <div *ngFor="let field of definition?.fields" class="flex-child flex-parent searchbar-height">
      <!-- TEXT FIELD -->
      <mat-form-field *ngIf="isTextField(field)" class="flex-child element-padding">
        <mat-label>{{ field.name }}</mat-label>
        <input
          matInput
          [ngModel]="filterObj[field.filterName]"
          (ngModelChange)="filterObj[field.filterName] = field.filterValue($event)"
        />
      </mat-form-field>
      <!-- TEXT FIELD END -->

      <!-- SELECT FIELD -->
      <mat-form-field *ngIf="isSelectField(field)" class="flex-child element-padding">
        <mat-label>{{ field.name }}</mat-label>
        <mat-select
          [ngModel]="filterObj[field.filterName]"
          (ngModelChange)="filterObj[field.filterName] = field.filterValue($event)"
          name="field.name"
        >
          <mat-option *ngFor="let option of field.options" [value]="field.filterValue(option)">
            {{ field.optionsDisplayName(option) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- SELECT FIELD END -->

      <!-- DATE RANGE FIELD -->
      <!-- class="date-input" -->
      <div *ngIf="isDateRangeField(field)" class="flex-child flex-parent element-padding">
        <mat-form-field class="flex-child">
          <mat-label>{{ field.name }}</mat-label>
          <input
            matInput
            required
            [ngModel]="filterObj[field.filterName]"
            (ngModelChange)="filterObj[field.filterName] = field.filterValue($event)"
            [owlDateTimeTrigger]="dt12"
            [owlDateTime]="dt12"
            [selectMode]="'range'"
        /></mat-form-field>
        <owl-date-time #dt12></owl-date-time>
      </div>
      <!-- DATE RANGE FIELD END -->
    </div>

    <div class="btns-form-field">
      <button
        *ngIf="!definition?.clearButtonHidden"
        mat-icon-button
        (click)="clear()"
        color="primary"
        class="search-icons"
        matTooltip="definition?.clearButtonTooltip"
      >
        <mat-icon svgIcon="eraser"></mat-icon>
      </button>

      <button
        *ngIf="!definition?.searchButtonHidden"
        mat-icon-button
        (click)="search()"
        color="primary"
        class="search-icons"
        matTooltip="definition?.searchButtonTooltip"
      >
        <mat-icon svgIcon="search"></mat-icon>
      </button>
    </div>
  </div>
</div>
