.flex-parent {
  flex-wrap: nowrap;

  .flex-child {
    .mat-form-field-wrapper {
      margin-bottom: -1em;
    }
  }
}

.card-content {
  height: auto;
}

.right-align {
  text-align: right;
}

.mat-raised-button {
  margin: 0.5em !important;
}

.icon-margin {
  margin-right: 8px;
}

// Font Form-Field
.mat-form-field {
  font-size: 14px;
}

