.mat-dialog-content {
  min-height: 80vh;
  min-width: 90vw;
}

.mat-button {
  background-color: #009e59;
  color: #ffffff;
}

.mat-cell {
  font-size: 12px;
}

.table-wrapper {
  height: 50vh;
  margin-bottom: 15px;
}

.header {
  color: #fff;
  padding: 10px 13px;
  background: #009e59;
  margin-bottom: 10px;
}

.header h2 {
  margin-bottom: 0;
}

.margin-table {
  margin-top: 13px;
}

.mat-table {
  transition: none !important;
  box-shadow: none !important;
  overflow: auto;
}

.text-align-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.border-right {
  border-right: 1px solid rgb(202, 202, 202);
  padding: 0 !important;
}

.border-left {
  border-left: 1px solid rgb(202, 202, 202);
  padding: 0 !important;
}

.top-space {
  margin: 12px 0 0 7px;
}

.title h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #009e59;
}

.title h4 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  color: red;
  font-style: italic;
  display: flex;
}

.title p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.mat-dialog-content {
  overflow: unset;
}

.mat-header-cell {
  color: #009e59 !important;
  font-weight: 600 !important;
  background-color: #e6e6e6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(202, 202, 202);
}

.colapsed {
  background-color: #f6f6f6;
  height: 35px !important;
  min-height: 35px !important;
}

.column-properties {
  flex: 20%;
}

.column-plus {
  flex: 0.25;
  color: #009e59 !important;
  font-weight: bold;
  font-size: 14px;
}

.cell-properties {
  color: #009e59 !important;
}

.column-uom {
  flex: 1%;
}

.column-tag {
  flex: 12%;
}

.column-class {
  flex: 0.6;
  padding-right: 0;
}

.column-classific {
flex: 3%;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.spinner {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 45%;
  position: relative;
}

.table-data-content {
  margin-left: 5%;
}

.w-20 {
  width: 20%;
  margin-right: 20px;
}

.w-30 {
  width: 30%;
  margin-right: 20px;
}

.w-10 {
  width: 10%;
  margin-right: 20px;
}

.w-12 {
  width: 12%;
  margin-right: 20px;
}

.filter {
  margin: 0 !important;
  display: block;
}

.color {
  color: #009e59;
}

.action-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.pdf-export {
  display: flex;
  color: #009e59;
  cursor: pointer;
}

.position {
  text-align: end;
}

.mt-10 {
  margin-top: 20px !important;
}

.heigth-50 {
  height: 50px !important;
  min-height: 50px !important;
}

.heigth-40 {
  height: 40px !important;
  min-height: 40px !important;
}
