<mat-toolbar class="header-color">
  <div class="margin-header">
    <span class="page-group color-page">
      {{ pageGroup }}
      <mat-icon class="space-arrow">play_arrow</mat-icon>
    </span>
    <span class="page-name color-page">{{ pageName }}</span>

    <div class="align-right font">
      Olá, {{ user
      }}<mat-icon
        class="click"
        [matMenuTriggerFor]="menu"
        matRipple
        [matRippleRadius]="15"
        [matRippleCentered]="true"
        >keyboard_arrow_down</mat-icon
      >
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="confirmCancel()">Sair</button>
    </mat-menu>
  </div>
</mat-toolbar>
