$color_1: #555;
$color_2: #333;
$color_3: #d90075;
$font_family_1: "Open Sans", sans-serif;
$font_family_2: "Squada One", cursive;

@import "https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300";
@import "https://fonts.googleapis.com/css?family=Squada+One";
body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

#logo {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  font-family: $font_family_1;
  color: $color_1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 115px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #ededed 3px 2px 0;
  position: relative;
  &:after {
    content: "Eldoom";
    position: absolute;
    left: 8px;
    top: 32px;
    background-image: -webkit-linear-gradient(
      left top,
      transparent 0%,
      transparent 25%,
      #555 25%,
      #555 50%,
      transparent 50%,
      transparent 75%,
      #555 75%
    );
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;
  }
}
#menu {
  width: 1090px;
  height: 42px;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 25px 10px;
  border-top: 4px double #aaa;
  border-bottom: 4px double #aaa;
  position: relative;
  text-align: center;
  li {
    display: inline-block;
    width: 173px;
    margin: 0 10px;
    position: relative;
    -webkit-transform: skewy(-3deg);
    -webkit-backface-visibility: hidden;
    -webkit-transition: 200ms all;
    a {
      text-transform: uppercase;
      font-family: $font_family_2;
      font-weight: 800;
      display: block;
      background: #fff;
      padding: 2px 10px;
      color: $color_2;
      font-size: 35px;
      text-align: center;
      text-decoration: none;
      position: relative;
      z-index: 1;
      text-shadow: 1px 1px 0px #fff, 2px 2px 0px #999, 3px 3px 0px #fff;
      background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
      -webkit-transition: 1s all;
      background-image: -webkit-linear-gradient(
        left top,
        transparent 0%,
        transparent 25%,
        rgba(0, 0, 0, 0.15) 25%,
        rgba(0, 0, 0, 0.15) 50%,
        transparent 50%,
        transparent 75%,
        rgba(0, 0, 0, 0.15) 75%
      );
      background-size: 4px 4px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4) inset, 0 0 20px -5px rgba(0, 0, 0, 0.4),
        0 0 0px 3px #fff inset;
    }
    &:hover {
      width: 203px;
      margin: 0 -5px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      background: #bbb;
      -webkit-transform: skewY(8deg);
      x-index: -3;
      border-radius: 4px;
      background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
      right: 0;
      top: -4px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      background: #bbb;
      -webkit-transform: skewY(8deg);
      x-index: -3;
      border-radius: 4px;
      left: 0;
      bottom: -4px;
      background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
    }
  }
  a {
    &:hover {
      color: $color_3;
    }
  }
}

.spinner-modal {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 45%;
  position: relative;
}
