<div class="search-bar-card flex-parent card-content searchbar-height">
  <mat-form-field class="flex-child element-padding">
    <mat-label>Coordenação</mat-label>
    <mat-select
      [(ngModel)]="formData.coordinationId"
      name="item"
      (selectionChange)="productsFilter()"
    >
      <mat-option>-- Nenhum --</mat-option>
      <mat-option *ngFor="let item of coordinations" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="flex-child element-padding">
    <mat-label>Grupo do Produto</mat-label>
    <mat-select
      [(ngModel)]="formData.productGroupId"
      name="item"
      (selectionChange)="productsFilter()"
    >
      <mat-option>-- Nenhum --</mat-option>
      <mat-option *ngFor="let item of productTypes" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="flex-child element-padding">
    <mat-label>Produto</mat-label>
    <mat-select [(ngModel)]="formData.id" name="item">
      <mat-option>-- Nenhum --</mat-option>
      <mat-option *ngFor="let item of productNames" [value]="item.id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="flex-child element-padding">
    <mat-label>Código</mat-label>
    <mat-select [(ngModel)]="formData.productCode" name="item">
      <mat-option>-- Nenhum --</mat-option>
      <mat-option *ngFor="let item of productCodes" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="btns-form-field">
    <button mat-icon-button (click)="clearFilter()" class="search-icons" matTooltip="Clear">
      <img src="assets/icons/eraser.svg" />
    </button>
    <button
      mat-icon-button
      (click)="submitForm()"
      color="primary"
      class="search-icons"
      matTooltip="Buscar"
    >
      <img src="assets/icons/search.svg" />
    </button>
  </div>
</div>
