<div class="card hoverable table-container">
  <mat-table
    [dataSource]="dataSource"
    matSort
    class="full-width round-corners"
    (matSortChange)="onSort($event)"
  >
    <ng-container
      *ngFor="let columnDefinition of tableDefinition.columnDefinitions"
      [matColumnDef]="columnDefinition.name"
    >
      <mat-header-cell
        [disabled]="!columnDefinition.allowSorting"
        [ngClass]="columnDefinition.customHeaderClass"
        mat-sort-header
        *matHeaderCellDef
        >{{ columnDefinition.displayName}}</mat-header-cell
      >
      <mat-cell
        *matCellDef="let element"
        [ngClass]="columnDefinition.customCellClass"
        (click)="columnDefinition.onClick ? columnDefinition.onClick(element,columnDefinition,$event) : undefined"
        >{{ columnDefinition.getValueFunc(element) }}
        <button
          *ngIf="columnDefinition.isButton"
          mat-icon-button
          color="primary"
        >
          <mat-icon [svgIcon]="columnDefinition.iconSvg">{{ columnDefinition.icon }}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="tableDefinition.displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let element; columns: tableDefinition.displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    *ngIf="tableDefinition?.paginate"
    [length]="tableDefinition?.pagination?.length"
    [pageIndex]="tableDefinition?.pagination?.pageIndex"
    [pageSize]="tableDefinition?.pagination?.pageSize"
    [pageSizeOptions]="tableDefinition?.pagination?.pageSizeOptions"
    (page)="onPageChange($event)"
    class="mat-paginator-sticky"
  ></mat-paginator>
</div>
